{% extends "base.html" %}

{% load wagtailcore_tags staticfiles charlos_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}
  <div id="page-wrapper">
    {% include "header.html" %}

    <!-- Problem -->
    <div class="wrapper paddingb0">
      <div class="container">
        <header class="major">
          {{ page.problem|simplerichtext }}
        </header>
      </div>
    </div>


    <!-- Solution -->
    <div class="wrapper">
      <div class="container">
        <header class="major">
          <div class="center 3u 4u(narrower) 6u(mobilep)">
            <div class="image featured">
              <img src="//media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAh6AAAAJDM2Mzk5MWI4LTI3YTQtNDMzOS04YTU5LTQ2ODIwMWNkMmMzZQ.jpg" class="round">
            </div>
          </div>

          {{ page.solution|simplerichtext }}
        </header>

        <div class="row features">
          {% for benefit in page.solution_benefits.all %}
          <section class="4u feature {% cycle '12u' '6u' '6u' %}(mobile)">
            <header>
              <h2 class="icon lg {{ benefit.icon_classname }}"></h2>
              <h3>{{ benefit.title }}</h3>
            </header>
            <p>{{ benefit.copy }}</p>
          </section>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="promo-wrapper" class="night-sky">
      <div class="p5container"></div>
      <!-- Borrow Credibility -->
      <div class="10u quote">
        <span class="icon inline-lg fa-quote-left pull-left"></span>
        <span class="icon inline-lg fa-quote-right pull-right"></span>
        {{ page.credibility|simplerichtext }}
      </div>

      <!-- Social Proof -->
      <header class="major">
        {{ page.social_proof|simplerichtext }}
      </header>
      <div class="row flex-wrap client-list center 10u 12u(narrow)">
        <img src="{% static 'images/client_ogilvy.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_american_express.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_kfc.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_the_white_company.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_contiki.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_amway.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_gepp.svg' %}" alt="" class="2u 3u(mobilep)">
        <img src="{% static 'images/client_grupo_bimbo.svg' %}" alt="" class="2u 3u(mobilep)">
      </div>
    </div>

    <!-- Testimonials -->
    <div class="wrapper">
      <div class="container">
        <header class="major">
          <h2>Testimonials</h2>
        </header>

        {% for testimonial in page.testimonials.all %}
          {% if forloop.counter0|divisibleby:3 %}
            <div class="row features">
          {% endif %}
              <section class="4u {% cycle '12u' '6u' '6u' %}(narrower) 12u(mobile)">
                <span class="icon inline-lg fa-quote-left pull-left"></span>
                {{ testimonial.quote|simplerichtext }}
                <span class="icon inline-lg fa-quote-right pull-right"></span>

                <img src="{{ testimonial.avatarURL }}" alt="{{ testimonial.person }}" class="testimonial-avatar">
                <p class="testimonial-copy">
                  <a href="{{ testimonial.profileURL }}" target="_blank" rel="nofollow">
                    <i>{{ testimonial.person }}</i>
                  </a>
                </p>
              </section>
          {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>


    <!-- CTA -->
    <div id="cta" class="promo-wrapper night-sky">
      <div class="p5container"></div>
      {% for block in page.cta %}
        {% if block.block_type == "heading" %}
          <header>
            <h2>{{ block.value.title }}</h2>
          </header>
            {% if block.value.subtitle and block.value.subtitle.strip is not 0 %}
              <p>{{ block.value.subtitle }}</p>
            {% endif %}
        {% endif %}
        {% if block.block_type == "actions" %}
          <section class="promo">
            <ul class="actions">
              {% for action in block.value %}
                <li>
                  <a
                    href="{{ action.value.url }}{{ action.value.doc.url }}"
                    {% if action.value.target_blank %} target="_blank" {% endif %}
                    {% if action.value.doc %} title="{{ action.value.doc.title }}" {% endif %}
                  >
                    {% if action.value.icon %}
                      <span class="button">
                        <i class="icon {{ action.value.icon }}"></i>
                      </span>
                    {% endif %}
                    <span>&nbsp; {{ action.value.text }} &nbsp;</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/p5homepage.js' %}"></script>
{% endblock %}
