{% load wagtailcore_tags staticfiles %}
{% load charlos_tags %}

<div id="header-wrapper" class="night-sky">
  <div id="header" class="container">

    <!-- logo-->
    <h1 id="logo">
      <a href="/">Charlos</a>
    </h1>

    {% include "nav.html" %}

    <!-- Canvas Bling -->
    <div id="p5hero" class="p5container"></div>

    <!-- Headline -->
    <section id="hero" class="container">
      {% for block in page.headline %}
        {% if block.block_type == "title" %}
          <header>
            <h2>{{ block.value }}</h2>
          </header>
        {% endif %}
        {% if block.block_type == "subtitle" %}
          <p>{{ block.value|simplerichtext }}</p>
        {% endif %}
        {% if block.block_type == "links" %}
          <ul class="actions">
            {% for link in block.value %}
              <li>
                <a href="{{ link.url }}" class="button" {% if link.target_blank %}target="_blank"{% endif %}>
                  {{ link.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      <a name="below-the-fold"></a>
    </section>
  </div>
</div>
