<!-- nav-->
<div id="nav">
  <ul>
    <li><a href="https://github.com/mexitalian" target="_blank"><i class="icon fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/mexitalian" target="_blank"><i class="icon fa-linkedin-square"></i></a></li>
    <li class="break"><a href="#"><i class="icon fa-bars"></i> &nbsp; Sections</a>
      <ul>
        <li><a href="/showcase"><i class="icon fa-eye"></i> Showcase</a></li>
        <li><a href="#contact"><i class="icon fa-envelope-o"></i> Let's talk</a></li>
      </ul>
    </li>
  </ul>
</div>
